.vscode/**
.vscode-test/**
src/**
test/**
out/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
images/**
.github/**
python/**
DESIGN.MD
PRIVACY.md
README.md
CHANGELOG.md

!images/icon.ico

# Webpack related
node_modules
webpack.config.json
